.red {
  border: 2px solid;
  background-color: red;
}

.green {
  border: 2px solid;
  background-color: green;
}

.pink {
  border: 2px solid;
  background-color: pink;
}

.blue {
  border: 2px solid;
  background-color: blue;
}
